@using UCS_CRM.Core.Models;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model UCS_CRM.Core.Models.MemberAccount;

<div class="row">
    <div class="col-12">
        <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Ticket Stats</h4>
                  <div class="row mt-4">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="member" asp-controller="Tickets" asp-action="Index" asp-route-type="" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-primary text-center">
                                    <h1 class="fw-light text-primary">@ViewBag.allTicketsCount</h1>
                                    <h6 class="text-primary">Total Tickets</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="member" asp-controller="Tickets" asp-action="Index" asp-route-type="new" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-primary text-center">
                                    <h1 class="fw-light text-secondary">@ViewBag.newTicketsCount</h1>
                                    <h6 class="text-primary">New Tickets</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="member" asp-controller="Tickets" asp-action="Index" asp-route-type="Resolved" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-success text-center">
                                    <h1 class="fw-light text-success">@ViewBag.resolvedTicketsCount</h1>
                                    <h6 class="text-success">Resolved</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="member" asp-controller="Tickets" asp-action="Index" asp-route-type="Re-opened" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-warning text-center">
                                    <h1 class="fw-light text-warning">@ViewBag.reopenedTicketsCount</h1>
                                    <h6 class="text-warning">Re-opened</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="member" asp-controller="Tickets" asp-action="Index" asp-route-type="Closed" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-danger text-center">
                                    <h1 class="fw-light text-danger">@ViewBag.closedTicketsCount</h1>
                                    <h6 class="text-danger">Closed</h6>
                                </div>
                            </div>
                        </a>

                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="Clerk" asp-controller="Tickets" asp-action="Index" asp-route-type="Archived" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-info text-center">
                                    <h1 class="fw-light text-info">@ViewBag.archivedTicketsCount</h1>
                                    <h6 class="text-info">Archived</h6>
                                </div>
                            </div>
                        </a>

                    </div>
                    <!-- Column -->
                  </div>
                 
                </div>
              </div>
        <div class="card">
            <div class="card-body">
               <h4 class="card-title">Account Balances</h4>
                <div class="row mt-4">
                   @* @foreach (var account in (List<UCS_CRM.Core.DTOs.MemberAccount.ReadMemberAccountDTO>)@ViewBag.memberAccounts)
                    {  *@
                    @foreach (var account in ViewBag.accounts)
                    {
                         <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                          <div class="card card-hover">
                            <div class="p-2 rounded bg-light-primary text-center">
                              
                              <h6 class="text-primary">@account.AccountNumber</h6>
                                    <h4 class="fw-light text-primary">@account.Balance.ToString("MWK 0.00")</h4>
                            </div>
                          </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>